body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url(images/background.jpg);
    font-family: 'Times New Roman', Times, serif;
}

.content{
    display: flex;
   
    color: #fff;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 140%;


    border-radius: 10px;
    padding: 35px;

    
}

.button {
    text-align: center;
    justify-content: center;
    display: flex;
    color: #fff;
 


    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 140%;


    p{
        margin:0%;
    }


    &__rock{
        margin-top: 50px;

        height: 50px;
        width: 150px;

        margin-left: 50px;
        margin-right: 50px;

        background-color: rgb(30, 30, 30);
        transition: all .3s;
        cursor: pointer;

        &:hover {
        background-color: rgb(80, 80, 80);
        }
    } 
    &__scissors{
        margin-top: 50px;

        height: 50px;
        width: 160px;
        margin-right: 50px;


        background-color: rgb(30, 30, 30);
        transition: all .3s;
        cursor: pointer;

        &:hover {
        background-color: rgb(80, 80, 80);
        }

    }
    &__paper{
        margin-top: 50px;

        height: 50px;
        width: 150px;

        margin-right: 50px;

        background-color: rgb(30, 30, 30);
        transition: all .3s;
        cursor: pointer;

        &:hover {
        background-color: rgb(80, 80, 80);
        }

    }
   
}

.box{
    width: 1200px;
    height: 450px;
    margin-top: 50px;


    border: 25px;

    background-color: rgb(129, 107, 107);
    box-sizing: border-box;
    border-radius: 10px;
    display: inline-block;
    
    li {
        list-style: none;
    }
}

.reload{
    width: 300px;
    height: 50px;
    margin-top: 50px;
    margin-left: 450px;

    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 140%;

    background-color: rgb(30, 30, 30);
    transition: all .3s;
    cursor: pointer;

    &:hover {
    background-color: rgb(80, 80, 80);
    }
}